<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password | Hoodat</title>
  </head>

  <body>
    <h1>Reset password</h1>
    <label for="password">New password:</label>
    <br />
    <input
      type="password"
      id="password"
      name="password"
      placeholder="********"
    />
    <br />
    <button onclick="submit()">Submit</button>
  </body>

  <script>
    async function submit() {
      const passwordInput = document.getElementById('password');

      const newPassword = passwordInput.value;

      // MAKE API REQUEST
      fetch('http://localhost:8000/api/auth/reset-password');

      console.log('Done.');
    }
  </script>
</html>
